@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(7, 8, 9);
}

.body {
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  min-height: 100vh;
}

.container_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 1360px;
  width: 375px;
  background-color: var(--Very-Light-Gray);
  padding: 90px 40px 80px 40px;
}
.top-part > h1 {
  font-weight: 200;
  font-size: 1.8rem;
}
.top-part > h2 {
  font-weight: 600;
  text-align: center;
  font-size: 1.8rem;
  padding-top: 1.3rem;
  padding-bottom: 2.5rem;
}
.top-part > p {
  font-size: 1.2rem;
  font-weight: 200;
}
.top-part {
  text-align: center;
  line-height: 25px;
  padding-bottom: 75px;
}
.supervisor,
.builder,
.karma,
.calculator {
  width: 310px;
  height: 220px;
  background-color: white;
  border-radius: 5px;
  border-top: 3px solid var(--cyan);
  padding: 30px;
  line-height: 20px;
  margin-bottom: 25px;
  box-shadow: 2px 10px 15px var(--Grayish-Blue);
}
.builder {
  border-top-color: var(--red);
}
.karma {
  border-top-color: var(--orange);
}
.calculator {
  border-top-color: var(--blue);
}
.supervisor > h1 {
  padding-bottom: 15px;
}
.picture {
  padding-top: 25px;
  padding-left: 190px;
}
